<head>
<style>
    div.a {
        text-align: center;
    }
    div.b {
        text-align: right;
    }

    </style>
    </head>
    <div class="a">
<mat-toolbar color="primary">We appreciate your feedback please answer questions below:</mat-toolbar>
<br>
<div class="example-selected-value">I spend {{moneyspent}} per calendar month.</div>
<br>
<mat-radio-group class="example-radio-group" [(ngModel)]="moneyspent">
    <mat-radio-button class="example-radio-button" *ngFor="let money of money" [value]="money">
      {{money}}
    </mat-radio-button>
  </mat-radio-group>

  <br>
  <br>
  <br>

<div class="example-selected-value">I {{makeorder}} shop here again.</div>
<br>
<mat-radio-group class="example-radio-group" [(ngModel)]="makeorder">
    <mat-radio-button class="example-radio-button" *ngFor="let order of order" [value]="order">
      {{order}}
    </mat-radio-button>
  </mat-radio-group><br>
  <br>
  <br>

<div class="example-selected-value">I am {{feeling}} with my last shoping experience.</div>
<br>
<mat-radio-group class="example-radio-group" [(ngModel)]="feeling">
    <mat-radio-button class="example-radio-button" *ngFor="let satisfaction of satisfaction" [value]="satisfaction">
      {{satisfaction}}
    </mat-radio-button>
  </mat-radio-group><br>
  <br>
  <br>
  <br>
  <br>
</div>

<div class="a"><button
      mat-raised-button
      color="accent"
      type="submit">Save feedback</button>
</div>

  
