<mat-toolbar color="primary">About us</mat-toolbar>
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Avon</mat-card-title>
      <mat-card-subtitle>world's leading
          direct sellers</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://www.avon.co.za/PRSuite/static/images/about_us/aboutus.jpg" >
    <mat-card-content>
      <p>
          Every day, Avon brings beauty to the lives of women all over the world. At Avon, beauty means finding the right lipstick shade for a customer; providing an earnings opportunity so a woman can support her family; and enabling a woman to get her first mammogram. Beauty is about women looking and feeling their best. It’s about championing economic empowerment and improving the lives of women around the world.
          In the UK, Avon now reaches one in three women, with six million women seeing an Avon brochure every three weeks. Avon provides innovative, quality products to customers at competitive prices. Product lines include Avon make-up, Avon fragrance, ANEW skincare, Skin So Soft and Advance Techniques. Avon also sells an extensive range of wellbeing products, jewellery, lingerie, accessories and gifts. More products carry the Avon name than any other brand in the world.
          As the company for women, Avon is committed to supporting the causes that matter most to women – breast cancer and domestic violence. Globally, Avon philanthropy has donated more than $957 million to date as one of the world's largest supporter of women's causes. Read more about the causes Avon supports in the UK.
          Avon is a company steeped in tradition, grounded by its core values and principles as well as its vision "to be the company that best understands and satisfies the product, service and self-fulfilment needs of women – globally."
          Find out more information on Avon’s history
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  