<style>
  div.a {
      text-align: center;
  }
  

  </style>  <div class="a">         Contact us.      </div>        
<hr align="centre" width="16%">
<br>
<img src="https://autoclubsouth.aaa.com/assets/Images/Contact-AAA/748x374-contact-us-bnr.jpg" alt="https://autoclubsouth.aaa.com/assets/Images/Contact-AAA/748x374-contact-us-bnr.jpg" width="500		" height="100">
<div class="a">
<html>
<body>

<address>
Email <a href="mailto:g00252861@gmit.ie">Rastislav Petras</a>.<br> 
Visit us at:<br>
Gmit Officials<br>
Galway,IRL<br>
<br>
alternatively<br><br>

</address>

</body>
</html>

<a href="https://www.facebook.com/rastops" class="twitter-share-button" data-show-count="false">click here</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>