
   

<mat-toolbar color="primary"><pre>          Code                   Name               Description               Price</pre>  </mat-toolbar>
<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel [expanded]="false" *ngFor="let post of posts">
    <mat-expansion-panel-header>
     
        <head>
            <style>
           
         
            table.d {
                table-layout: fixed;
                width: 1000px; 
                border: 1px solid white; 
            }
            </style>
            </head>
            
            
            
            <table class="d">
              <tr>
                <th> {{post.product_id }}  </th>
                <th> {{ post.product_name }}  </th>
                <th> {{ post.product_category }}  </th>
                <th> {{ post.product_price }}  </th>
              </tr>
            </table>
            
      
       
 
  </mat-expansion-panel-header>
    <mat-action-row>

      <button mat-button (click)= "onDelete(post._id)" color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No products added yet!</p> 