<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        rows="1"
        type="text"
        name="product_id"
        ngModel
        required
        minlength="3"
        #product_id="ngModel">
      <mat-error *ngIf="product_id.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        rows="2"
        type="text"
        name="product_name"
        ngModel
        required
        minlength="3"
        #product_name="ngModel">
      <mat-error *ngIf="product_name.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        rows="3"
        type="text"
        name="product_category"
        ngModel
        required
        minlength="3"
        #product_category="ngModel">
      <mat-error *ngIf="product_category.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        rows="4"
        name="product_price"
        ngModel
        required
        #product_price="ngModel">
      <mat-error *ngIf="product_price.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Post</button>
  </form>
</mat-card>

