<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    
    

<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Category</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><mat-form-field>
      <input
        matInput
        rows="1"
        type="text"
        name="product_id"
        ngModel
        required
        minlength="3"
        #product_id="ngModel">
      <mat-error *ngIf="product_id.invalid">Please enter a product id.</mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input
        matInput
        rows="2"
        type="text"
        name="product_name"
        ngModel
        required
        minlength="3"
        #product_name="ngModel">
      <mat-error *ngIf="product_name.invalid">Please enter a product name.</mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input
        matInput
        rows="3"
        type="text"
        name="product_category"
        ngModel
        required
        minlength="3"
        #product_category="ngModel">
      <mat-error *ngIf="product_category.invalid">Please enter a product category.</mat-error>
    </mat-form-field></td>
    <td><mat-form-field>
      <input
        matInput
        rows="4"
        name="product_price"
        ngModel
        required
        #product_price="ngModel">
      <mat-error *ngIf="product_price.invalid">Please enter a product.</mat-error>
    </mat-form-field></td>
  </tr>

</table>

</body>
</html>
<br>
<button
      mat-raised-button
      color="accent"
      type="submit">Save Product Details</button>
  </form>
</mat-card>